<div class="span10">
    <p><strong>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}:</strong> {{ user.username }}</p>
</div>
<div class="span2">
    <a href="{{ url('fos_user_profile_edit') }}" class="btn pull-right">{{ 'update' | trans }}</a>
</div>
